/* ========= CSS custom properties */

:root{
    --Green-500: hsl(171, 66%, 44%);
    --Blue-100: hsl(233, 100%, 69%);
    --Gray-700: hsl(210, 10%, 33%);
    --Gray-500: hsl(201, 11%, 66%);
    --body-Font-size: 18px;
}

/* ==========  CSS Reset ============= */

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img, svg {
    max-width: 100%;      
    display: block;     
    height: auto;   
    border-style: none; 
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;  
    font-size: 100%;   
    background-color: transparent; 
    border: none;     
}

body{
    font-family: 'Bai Jamjuree',sans-serif;
    font-size: var(--body-Font-size);
    line-height: 1.5; 
}

p{
    color: var(--Gray-500);
}

h1,h2,h3{
    color: var(--Gray-700); 
}

.header{ 
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 95%,rgba(255,255,255,1) 100%), url(./images/bg-header-desktop.png);
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% auto;
    display: flex;
    justify-content: center;
    padding-top: 7em;
    padding-bottom: 3.5em;
}
