/* ========= CSS custom properties */

:root{
    --Green-500: hsl(171, 66%, 44%);
    --Blue-100: hsl(233, 100%, 69%);
    --Gray-700: hsl(210, 10%, 33%);
    --Gray-500: hsl(201, 11%, 66%);
    --body-Font-size: 18px;
}

/* ==========  CSS Reset ============= */

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img, svg {
    max-width: 100%;      
    display: block;     
    height: auto;   
    border-style: none; 
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;  
    font-size: 100%;   
    background-color: transparent; 
    border: none;     
}

body{
    font-family: 'Bai Jamjuree',sans-serif;
    font-size: var(--body-Font-size);
    line-height: 1.5; 
}

p{
    color: var(--Gray-500);
}

h1,h2,h3{
    color: var(--Gray-700); 
}

.header{ 
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 95%,rgba(255,255,255,1) 100%), url(./images/bg-header-desktop.png);
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% auto;
    display: flex;
    justify-content: center;
    padding-top: 7em;
    padding-bottom: 3.5em;
}
.container{
    width: 52%;
    margin: 0 auto;
    text-align: center;
}

.container h1{
    font-size: 2.6rem;
    font-weight: 600;
}

.container p:first-of-type{  
    margin-right: 2em;
    padding: 1em 0 2.5em;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10em;
}

.ios-btn{
    background-color: var(--Green-500);
    border: 2px solid var(--Green-500);
    color: #fff; 
    padding: 0.8em 2.2em; 
    border-radius: 30px;
}
.mac-btn{
    background-color: var(--Blue-100);
    border: 2px solid var(--Blue-100);
    color: #fff; 
    padding: 0.8em 2em;  
    border-radius: 30px;
}

.computer{
    width: 90%;
    margin: 4em 0 10em;
    display: flex;
    gap: 7rem;
}

.computer img{
    margin-left: -2em;
}
 
.computer-text h3{
    margin: 3em 0 0.5em;
}

.devices{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.devices p{
    margin-right: 7em;
    margin-bottom: 7em;
}

.workflow{
    width: 85%;
    margin: 0 auto; 
    text-align: center;
} 

.workflow>p{
    margin: 0.5em 0 5em;
}

.tools{
    display: flex;
    justify-content: center;
}

.tools>div{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.tools img{
    margin: 0 auto;
}

.tools h3{
    margin: 2em 0 1em;
}

.blacklist{
    flex-basis: 523px;
}

.blacklist p{
    margin-top: -0.55em;
}

.preview{
    flex-basis: 533px; 
}

.logos{
    width: 85%;
    display: flex;
    margin: 7em auto;
    justify-content: space-between;
}