/* ========= CSS custom properties */

:root{
    --Green-500: hsl(171, 66%, 44%);
    --Blue-100: hsl(233, 100%, 69%);
    --Gray-700: hsl(210, 10%, 33%);
    --Gray-500: hsl(201, 11%, 66%);
    --cyan:hsl(180, 100%, 50%);
    --green-400:hsl(71, 73%, 54%);
    --white:hsl(0, 0%, 100%);
    --body-Font-size: 18px;
}

/* ==========  CSS Reset ============= */

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


img, svg {
    max-width: 100%;      
    display: block;     
    height: auto;   
    border-style: none; 
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-family: inherit;  
    font-size: 100%;   
    background-color: transparent; 
    border: none; 
    cursor: pointer;    
}

body{
    font-family: 'Bai Jamjuree',sans-serif;
    font-size: var(--body-Font-size);
    line-height: 1.5; 
}

p{
    color: var(--Gray-500);
}

h1,h2,h3{
    color: var(--Gray-700); 
}

.header{ 
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 95%,rgba(255,255,255,1) 100%), url(./images/bg-header-desktop.png);
    background-position:top center;
    background-repeat:no-repeat;
    background-size:100% auto;
    display: flex;
    justify-content: center;
    padding-top: 7em;
    padding-bottom: 3.5em;
}
.container{
    width: 52%;
    margin: 0 auto;
    text-align: center;
}

.container h1{
    font-size: 2.6rem;
    font-weight: 600;
}

.container p:first-of-type{  
    margin-right: 3.7em;
    padding: 1em 0 2.5em;
}

.btns{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 10em;
}

.ios-btn{
    background-color: var(--Green-500);
    border: 2px solid var(--Green-500);
    color: var(--white); 
    padding: 0.8em 2.2em; 
    border-radius: 30px;
}

.ios-btn:hover,
.ios-btn:focus{
    background-color:var(--green-400) ;
    color: var(--Gray-700);
    border: 2px solid var(--green-400);
}

.mac-btn{
    background-color: var(--Blue-100);
    border: 2px solid var(--Blue-100);
    color: var(--white); 
    padding: 0.8em 2em;  
    border-radius: 30px;
}

.mac-btn:hover,
.mac-btn:focus{
    background-color:var(--cyan) ;
    color: var(--Gray-700);
    border: 2px solid var(--cyan);  
}

.computer{
    width: 90%;
    margin: 4em 0 10em;
    display: flex;
    gap: 7rem;
}

.computer img{
    margin-left: -2em;
}
 
.computer-text h3{
    margin: 3em 0 0.5em;
}

.devices{
    width: 60%;
    margin: 0 auto;
    text-align: center;
}

.devices p{
    margin-right: 7em;
    margin-bottom: 7em;
}

.workflow{
    width: 85%;
    margin: 0 auto; 
    text-align: center;
} 

.workflow>p{
    margin: 0.5em 0 5em;
}

.tools{
    display: flex;
    justify-content: center;
}

.tools>div{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
}

.tools img{
    margin: 0 auto;
}

.tools h3{
    margin: 2em 0 1em;
}

.blacklist{
    flex-basis: 523px;
}

.blacklist p{
    margin-top: -0.55em;
}

.snippet{
    flex-basis: 520px; 
}

 .preview{
    flex-basis: 550px;
 }

.logos{
    width: 85%;
    display: flex;
    margin: 7em auto;
    justify-content: space-between;
}

footer{
    background-color: #eee;
}

.footer{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto; 
    align-items: center;
    padding: 2em 0;
}

.footer>svg{
    width: 50px;
    height: 50px;
    margin-right: 8em;
}

.utility{  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: min-content;
    column-gap: 5rem;
    row-gap: 1em;
    margin-right: auto;
    place-content: center;
}

.utility p{
    color: var(--Gray-700);
}

.utility p:hover,
.utility p:focus{
    color: var(--Green-500);
    cursor: pointer;
}

.social-media{
    display: flex;
    gap: 1.5rem;
}

.social-media svg:hover path,
.social-media svg:focus path{
    fill: var(--Green-500);
    cursor: pointer;
}

svg:hover{
    cursor: pointer;
}


@media screen and (max-width:980px) {
    .btns{
        flex-direction: column;
    }
    .computer{
        flex-direction: column;
    }

    .computer-text{
        text-align: center;
    }

    .workflow{
        margin-top: 7em;
    }

    .tools>div{ 
        margin-left:0;
    }

    .logos{
        flex-direction: column;
        align-items: center;
        gap: 8rem;
        width: 85%;
        margin: 10em 0;
    }
 

    .footer{
        flex-direction: column;
        align-items: center;
        gap: 5em;
    }

    .footer>svg{
        margin-right: 0;
    }

    .utility{
        margin-right:0 ;
    }
}

@media screen and (max-width:668px) {
    .header{
        background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 95%,rgba(255,255,255,1) 100%), url(./images/bg-header-mobile.png);
    }
    .container{
        width: 80%;
    }
    .computer{
        width: 100%;
        align-items: center;
    }

    .computer-text{
        width: 80%;
    }
    
    .computer img{
        width: 80%; 
    }

    .devices p{
        margin: 0 0 7em;
    }

    .tools{
        flex-direction: column;
    }
 
    .blacklist{
        flex-basis: 0;
        margin-bottom: 10em; 
    }

    .snippet{
        flex-basis: 0; 
        margin-bottom: 10em; 
    }
    
    .preview{
        flex-basis: 0; 
    }

    .logos{
        margin: 10em 0;
    }

    .utility{
        column-gap: 2rem;
    }
}

@media screen and (max-width:458px) {
    .container{
        width: 90%; 
    }

    .container h1{
        font-size: 2rem;
    }

    .container p:first-of-type{
        margin-right: 1.1em;
        font-size: 1rem;
    }

    .container h2{
        margin-bottom: 1em;
    }

    .computer-text{
        width: 95%;
    }

    .devices{
        width: 95%;
    }

    .workflow p{
        font-size: 1rem;
        width: 100%;
    }

    .utility{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(5,1fr);
    }
}